@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  font-family: "Montserrat", sans-serif;
  font-family: sans-serif;
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  max-width: 480px;
  width: 100vw;
  /* border: solid #d8e3e7 1px; */
  box-shadow: 0px 6px 6px -3px rgba(0, 0, 0, 0.2),
    0px 10px 14px 1px rgba(0, 0, 0, 0.14), 0px 4px 18px 3px rgba(0, 0, 0, 0.12);
}

html,
body {
  height: 100%;
}

.title {
  font-size: 1.8rem;
  font-weight: bold;
  color: #1a1a2e;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title span {
  padding-left: 0.6rem;
}

.output {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.3rem 0rem 0.3rem;
  border: 1px solid #d8e3e7;
  padding: 0.6rem 0rem;
}
.password {
  font-size: 1.6rem;
  /* color: #1b262c; */
  min-width: 320px;
  text-align: center;
  padding: 0rem 0.6rem;
}
.copy {
  padding-right: 1rem;
  cursor: pointer;
}

.control-group {
  display: inline-block;
  vertical-align: top;

  text-align: left;
  /* box-shadow: 0 1px 2px rgba(0,0,0,0.1); */
}
.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 18px;
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
}
.control--radio .control__indicator {
  border-radius: 50%;
}
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: #ccc;
}
.control input:checked ~ .control__indicator {
  background: #2aa1c0;
}
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: #0e647d;
}
.control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}
.control__indicator:after {
  content: "";
  position: absolute;
  display: none;
}
.control input:checked ~ .control__indicator:after {
  display: block;
}
.control--checkbox .control__indicator:after {
  left: 8px;
  top: 4px;
  width: 3px;
  height: 8px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b;
}
.control--radio .control__indicator:after {
  left: 7px;
  top: 7px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #fff;
}
.control--radio input:disabled ~ .control__indicator:after {
  background: #7b7b7b;
}
.select {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  width: 100%;
}
.select select {
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 10px 15px;
  outline: 0;
  border: 0;
  border-radius: 0;
  background: #e6e6e6;
  color: #7b7b7b;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.select select::-ms-expand {
  display: none;
}
.select select:hover,
.select select:focus {
  color: #000;
  background: #ccc;
}
.select select:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.select__arrow {
  position: absolute;
  top: 16px;
  right: 15px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-style: solid;
  border-width: 8px 5px 0 5px;
  border-color: #7b7b7b transparent transparent transparent;
}
.select select:hover ~ .select__arrow,
.select select:focus ~ .select__arrow {
  border-top-color: #000;
}
.select select:disabled ~ .select__arrow {
  border-top-color: #ccc;
}

.inc-dcr {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  border: solid #d8e3e7 2.6px;
  margin: 0.8rem 0rem;
}
.inc-dcr_len {
  min-width: 3.6rem;
  text-align: center;
  color: #1b262c;
  border-left: solid #d8e3e7 2.6px;
  border-right: solid #d8e3e7 2.6px;
  display: flex;
  justify-content: center;
  font-weight: 600;
  align-items: center;
  height: 1.8rem;
}
.inc-dcr_btn {
  border: none;
  font-size: 1.6rem;
  background: inherit;
  padding: 0px;
  margin: 0px;
  display: flex;
  width: 3.6rem;
  justify-content: center;
  cursor: pointer;
}

.btn {
  border-radius: none;
  background: white;
  border: 1px solid #d8e3e7;
  cursor: pointer;
  font-size: 1.2rem;
  color: #1b262c;
  padding: 0.4rem 0rem;
  width: 50%;
}
.btn:focus {
  outline: none;
}
